body
{
    
   background-image: linear-gradient(to top right , yellow , red );
    background-repeat: no-repeat;
    text-align: center;
    
}
html{
    height: 100vh;
   
}
.name,.email,.password,.cpassword{
    text-align: center;
    font-size: 20px
}
div{
    align-content: center
}
.submit, .reset,.del
{
    font-size: 20px
  
}
.f{

    max-width: 500px;
    margin: auto;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 50px;
  }
